<nb-card>
    <nb-card-header>{{featureInfo.featureName}}</nb-card-header>
    
    <nb-card-body>
        <p><b>Name : </b> {{featureInfo.featureName}}</p>       
        <p><b>Description : </b> {{featureInfo.description}}</p>   
        <p><b>owner : </b> {{featureInfo.owner}}</p>   
        <p><b>feature hdfs directory : </b> {{featureInfo.featureHdfsDirectory}}</p>   
        <p><b>Source : </b> {{featureInfo.src}}</p>   
        <p><b>Source hdfs directory : </b> {{featureInfo.srcHdfsDirectory}}</p>   
    </nb-card-body>
    <!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
  </nb-card>